html{
    font-size: 16px;
}

body{
    font-size: 1rem; 
}

body, pre{
    font-family: -apple-system, SF UI Text, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.rbq{
    padding-top: 40px;
    width: 300px;
    margin: 0 auto;
    #canvas{
        display: block;
        margin: 20px auto;
        box-sizing: border-box;
        max-width: 100%;
    }
    .title{
        font-size: 28px;
        text-align: center;
        margin: 20px 0;
    }
    .subtitle{
        margin: 20px 0;
        text-align: center;
        line-height: 1.3;
        font-size: 12px;
    }
    .select-img{
        display: flex;
        justify-content: space-between;
        padding: 0;
        list-style: none;
        margin: 0;
        margin-bottom: 20px;
        li{
            margin: 0;
            padding: 0;
            list-style: none;
            border: 1px solid rgb(209, 209, 209);
            margin: 0 5px;
            cursor: pointer;
            &:last-child{
                margin: 0;
            }
            &:first-child{
                margin: 0;
            }
            img{
                object-fit: cover;
                height: 50px;
                width: 100%;
            }
        }
    }
    .main{
        box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
        background-color: #fff;
        pre{
            padding: 15px;
            padding-top: 0;
            max-width: 100%;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break:break-all;
            line-height: 1.5;
            display: block;
            box-sizing: border-box;
            margin: 0;
        }
        #uploadImg{
            cursor: pointer;
            width: 100%;
        }
    }
    .btnbox{
        text-align: center;
    }
    .btn{
        outline: none;
        border: none;
        background: none;
        box-shadow: none;
        display: inline-block;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: rgba($color: #000000, $alpha: .7);
        color: #fff;
        cursor: pointer;
        transition: .3s ease all;
        margin: 20px 5px;
        &:active{
            background-color: rgba($color: #000000, $alpha: 1);
        }
        &#start-tnt{
            margin-top: 0;
        }
    }
    #tnt{
        button{
            margin-top: 0;
        }
        #recording-instructions{
            font-size: 14px;
            color: rgb(194, 3, 3);
        }
    }
}

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

@media (max-width:400px){
    html{
        font-size: 14px;
    }
}